<div>
  <h1 class="cart-message">Cart Items</h1>
  <div *ngIf="CartData.length == 0">
    <h2 class="cart-message">Cart is Empty</h2>
  </div>
  <div class="table-container" *ngIf="CartData.length > 0">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-cartitem
          *ngFor="let CartItem of CartData"
          [CartItem]="CartItem"
        ></tr>
      </tbody>
    </table>
  </div>

  <button
    class="checkout-btn"
    (click)="handleCheck()"
    *ngIf="CartData.length > 0"
  >
    Check Out
  </button>
</div>
