<div>
  <div *ngIf="CartData.length == 0">
    <h2 class="cart-message">Cart is Empty</h2>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          app-cartitem
          *ngFor="let CartItem of CartData"
          [CartItem]="CartItem"
        ></tr>
      </tbody>
    </table>
  </div>

  <button class="checkout-btn" (click)="handleCheck()">Check Out</button>
</div>
